{% extends 'base.html' %}

{% block content %}
<h1>Books:</h1>

{% for book in all_books %}

    <div>
        <p>
        <a href="/books/{{book.id}}"><i>{{book.title}}</i></a>, {{book.author.first_name}} 
        {{book.author.last_name}} <br>({{book.publisher}}) – [{{book.genre}}]
        </p>
    </div>

    

    <div>
        <form action="/books/{{book.id}}/delete" method ="POST">
            <button type="submit">Delete</button>
        </form>
    </div>
    
{% endfor %}
 
    
{% endblock content %}

