{% extends 'base.html' %}

{% block content %}

<h1>Add Book:</h1>

<form action="/books" method="post">

<div>
    <label for="title">Title</label>
    <input type="text" 
           name="title" 
           id="title"
           placeholder="title"
           required
           autofocus>
</div>

<div>
    <label for="genre">Genre</label>
    <input type="text"
           name="genre"
           id="genre"
           placeholder="genre"
           required>
</div>

<div>
    <label for="publisher">Publisher</label>
    <input type="text"
           name="publisher"
           id="publisher"
           placeholder="publisher"
           required>
</div>

<div>
    <label for="authors">Author</label>
    <select name="author_id" id="author">
        <option value="">--Please choose an author</option>
        {% for author in all_authors %}
            <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
            
        {% endfor %}
    </select>
</div>

<button type="submit">Add Book</button>



</form>

    
{% endblock content %}

